@using EGSW.Data.Customers;

@{
    string username = string.Empty;
    var workContext = DependencyResolver.Current.GetService<EGSW.Data.IWorkContext>();
    username=workContext.CurrentCustomer.Email;

    if (workContext.CurrentCustomer.IsAdmin())
    {    
        username += " (ADMIN)";
    }
    else if (workContext.CurrentCustomer.IsAgent())
    {
        username += " (AGENT)";
    }
    
    
}

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="@Url.RouteUrl("LogOff")">Welcome @username |</a>
    </li>
    <li><a href="@Url.Action("AgentOrderList", "GutterOrder")">My Order</a></li>
    <li><a href="@Url.RouteUrl("LogOff")">Log off</a></li>
    @*<li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>*@
</ul>