@{
    ViewBag.Title = "About Us - E-Gutter-Cleaning | Inexpensive Low-Cost Fast Residential House Gutter Cleaning Service";
    ViewBag.MetaDescription = "Make your residential house gutter cleaning experience a pleasant one. Our simple mission is to provide an easy solution to a dirty job by offering a fast and low-cost quality approach to your gutter cleaning needs year round. ";
    
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<div class="col-md-12">
    <h4>“The best time to clean the gutter is when the sun is shining.”</h4>
    <h1>OUR MISSION</h1>

    <div class="text-justify">
        <p>

            To make your residential house gutter cleaning experience a pleasant one.  Our simple goal is to provide an easy solution to a dirty job by offering a fast and low-cost quality approach to your gutter cleaning needs year round.
        </p>
        <p>

            ericsguttercleaning.com team members are local residents to your area. They are your neighbors, vetted and selected to represent their home base and sworn to uphold the ericsguttercleaning.com seal of approval.  Each team is charged with doing whatever is necessary to provide top-notch, professional service in the best interest of the customer.
        </p>
        <p>
            ericsguttercleaning.com was founded to meet the house owner’s demand for quick, affordable, trustworthy service for a job that most (if not all) are not eager to do.  Gutter cleaning is a dirty work.
        </p>
        <p>Currently, ericsguttercleaning.com services:</p>
        <ul class="unstyled" style="list-style:circle;">
            @*<li>Rockland County</li>*@
            @*<li>Westchester County</li>*@
            <li>Bergen County</li>
            @*<li>Southern Connecticut</li>*@
            
        </ul>

        <p>By focusing on residential home <a href="@Url.RouteUrl("HomePage")">Gutter Cleaning</a> ericsguttercleaning.com has learned the best and most efficient techniques to keep your gutters debris free.</p>
        <p>Our growth is due in large part to word-of-mouth referrals from satisfied customers.  <a href="@Url.RouteUrl("ReferANeighbor")">Refer a neighbor today!</a></p>
        <p>Our team takes your satisfaction as a badge of pride!</p>

        <p>-- The ericsguttercleaning.com Team</p>

        <p><a href="@Url.RouteUrl("HomePage")"> Click here to request a FREE estimate</a></p>
    </div>
    </div>

