@{
    ViewBag.Title = "FAQ - E-Gutter-Cleaning | Inexpensive Low-Cost Fast Residential House Gutter Cleaning Service";
    ViewBag.MetaDescription = "Answers to commonly asked questions and concerns about the ericsguttercleaning service.  Most inquiries are answered here on our Frequently Asked Questions page.";
    
    //Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<div class="col-md-12">    
    <h1>FAQ</h1>

    <div class="text-justify">
        
        <div class="panel-group" id="accordion">
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne">
                            1) What if you need additional repair work done?    
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        ericsguttercleaning will professionally execute gutter cleaning only.  Our business model does not rely on, offer or approve “upselling” jobs to create revenue and because of this model, we do not offer any other services.

                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            2) Who is coming? 
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Only a vetted agent living both in close proximity to your house AND who carries a high customer service rating later determined by you, will clean your gutters.  We currently use agents with no less than 3 years gutter cleaning experience. .
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse3">
                            3) Are you insured?  
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        ericsguttercleaning is currently using only licensed and fully insured vetted agents carrying worker’s compesation insurance as well as a $2 million liability policy.
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse4">
                            4) When do you come? 
                        </a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">
                        When your order is placed, an agent will arrive within 5 business days unless otherwise ordered.

                    </div>
                </div>
            </div>





            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse5">
                            5) Where do you come from?  
                        </a>
                    </h4>
                </div>
                <div id="collapse5" class="panel-collapse collapse">
                    <div class="panel-body">
                        When your order is placed, an agent is selected based on 2 main criteria: <br />
                        1) he has a high customer service rating record, <br />
                        2) he is either physically near your house or lives in close proximity to you.



                    </div>
                </div>
            </div>


            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse6">
                            6) How are the gutters cleaned?  
                        </a>
                    </h4>
                </div>
                <div id="collapse6" class="panel-collapse collapse">
                    <div class="panel-body">
                        The gutters are cleaned in the neatest way possible.  This may require the use of air blowers, water, cleaned by hand or all 3.

                    </div>
                </div>
            </div>




            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse7">
                            7) What if they make a mess?  
                        </a>
                    </h4>
                </div>
                <div id="collapse7" class="panel-collapse collapse">
                    <div class="panel-body">
                        You will receive a “customer quality assurance survey” once work is completed.  Any unsatisfactory work you report will be brought to our attention and addressed per basis.  We take this element of our business most seriously.


                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse8">
                            8) How will I know it’s an ericsguttercleaning agent?
                        </a>
                    </h4>
                </div>
                <div id="collapse8" class="panel-collapse collapse">
                    <div class="panel-body">
                        You will receive a knock on what we believe is your front door by an agent identifying himself and wearing on the outside of his clothing a visible 2”x 4” ericsgutterservice ID card.  If no one is home at the time, he will continue his work and leave a 5” x 5” discardable egutterservice lawn tag on your property to let you know the service was completed.
                    </div>
                </div>
            </div>



            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapse9">
                            9) How will I know that the work has been completed?
                        </a>
                    </h4>
                </div>
                <div id="collapse9"  class="panel-collapse collapse">
                    <div class="panel-body">
                        You will receive a knock on what we believe is your front door by an agent identifying himself and wearing on the outside of his clothing a visible 2”x 4” ericsgutterservice ID card.  If no one is home at the time, he will continue his work and leave a 5” x 5” discardable egutterservice lawn tag on your property to let you know the service was completed.
                    </div>
                </div>
            </div>








































            @*<div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseTwo">
                            Click me to exapand. Click me again to collapse.
                            Section 2--show method
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo.
                    </div>
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree">
                            Click me to exapand. Click me again to collapse.
                            Section 3--toggle method
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo.
                    </div>
                </div>
            </div>*@
            @*<div class="panel panel-warning">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour">
                            Click me to exapand. Click me again to collapse.
                            Section 4--options method
                        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred
                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                        lomo.
                    </div>
                </div>
            </div>*@
        </div>
        <script type="text/javascript">
   //$(function () { $('#collapseFour').collapse({
   //   toggle: false
   //})});
   //$(function () { $('#collapseTwo').collapse('show')});
   //$(function () { $('#collapseThree').collapse('toggle')});
   //$(function () { $('#collapseOne').collapse('hide')});
        </script> 


    </div>
    </div>

