
@{
    ViewBag.Title = "Terms & Conditions - E-Gutter-Cleaning | Inexpensive Low-Cost Fast Residential House Gutter Cleaning Service";
}

<h1>Terms & Conditions</h1>
<div class="modal-body">
                                <p class="text-justify">
                                     <br />
                                     By processing this order, you understand that you are ordering  gutter cleaning.  
                                     No repairs, including: gutter, leader, drainage, roofing or other repairs are 
                                     authorized or will be performed as part of this order placed with 
                                     eguttercleaning.com.  No additional services are provided by eguttercleaning.com. 
                                     No solicitation of additional related or non-related work is authorized, approved, 
                                     encouraged or sanctioned by eguttercleaning.com.<br /> <br />
                                    
                                     After placing your order, a vetted eguttercleaning.com agent wearing a 2"x4" 
                                     "eguttercleaning.com" ID card will arrive at your property.  You'll receive a 
                                     knock on your front door.  If you are home, the agent will identify himself.   
                                     If you are not home at the time, the agent will proceed with the gutter cleaning 
                                     service.  <br /> <br />
                                     
                                     Upon completion, you will be left a 5” x 5” disposable eguttercleaning.com lawn tag 
                                     on your property to let you know the service was completed.  You will also 
                                     immediately receive an email notification that your gutters were successfully 
                                     cleaned and asked to fill out a quality assurance survey to ensure you received the 
                                     best possible service.<br /><br />

                                     We're the good guys, we will work hard till you agree.
                              </p>
                            </div>
