body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.master-wrapper-content {
    margin: auto;
    width: 980px;
}

ol, ul {
    list-style: outside none none;
}

 .button-1{
    background-color: #4ab2f1;
    border: medium none;
    color: #fff;
    font-size: 15px;
    min-width: 140px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
}

.listbox {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 10px 5px;
}

 .list li {
    padding: 5px 0 5px 15px;
}

.listbox ul {
    list-style: outside none none;
    padding:0;
}

.list a {
    color: #444;
    display: inline-block;
    font-size: 16px;
    padding: 5px 0;
    position: relative;
    transition: all 0.1s ease 0s;
}

.form-fields {
    background-color: #f9f9f9;
    border-top: 5px solid #e6e6e6;
    padding: 30px 15px;
    position: relative;
}

.add-button {
    margin: 0 0 20px;
    text-align: center;
}


.page-body .info {
    background-color: #f9f9f9;
    border-top: 5px solid #e6e6e6;
    color: #444;
    line-height: 26px;
    margin: 0 0 10px;
    padding: 20px;
}

.account-page .buttons {
    text-align:right;
    margin: 0 0 30px;
}










.footer {
    background-color:#eee;
    border-top:5px solid #7c2791;
}

.footer_midle {
    background-color: #f6f6f6;
    padding: 2.1em 0;
}

.footer-lower {
    padding: 25px 5px;
    position: relative;
    width: 980px;
}
.footer-lower {
    font-size: 12px;
    margin: auto;
    overflow: hidden;
    padding: 25px 0;
    width: 95%;
}
.footer-info {
    float: right;
    line-height: 32px;
}
.footer-powered-by {
    float: left;
    line-height: 32px;
    margin: 0;
}
