@{
    ViewBag.Title = "Survey response ";
}
<h2>Eric's Gutter Cleaning Survey</h2>


<p>Thank you!  Your feedback is important to ensuring you get the best possible service. <a href="@Url.RouteUrl("ReferANeighbor")">Refer a Friend today!</a></p>
